body {
	background-color: #EEE;
}

a {
	text-decoration: none;
}	

#container {
	background-color: white;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

#nav .selected {
	font-weight: bold;
}

#header {
		background-color: lightblue;
		color: white;
		padding: 10px;
		text-align: center;
}

#content {
	padding: 10px;
}

#nav {
	width: 180px;
	float: left;
}

#main {
	width: 600px;
	float: right;
}

table {
	background-color: lightblue;
	width: 800px;
	padding: 0px;
	margin-left: -10px;
	border: 1px;
	border-style: dashed;
	border-color: purple;
}
td {
	border: 1px;
	border-style: dashed;
	border-color: yellow;
}

img
  {
	width: 100%;
	object-fit: contain;
	padding: 0px;
	margin: 0px;

  }

#footer {
	clear: both;
	padding: 10px;
	background-color: gray;
	color: white;
	text-align: right;
	margin-top: -9px;
}
